* {
  margin: 0;
  padding: 0;
}
#backgroundVideoContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../Assets/nightF.jpg");
  background-position: center;
  background-size: cover;
}

#backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  justify-content: center;
  gap: 80px;
  align-items: center
  /* backdrop-filter: blur(50px); */
}
.timeMod{
  width: 250px;
    backdrop-filter: blur(1px);
}
